<?xml version="1.0" encoding="utf-8"?>
<GameDatasConfig>
	<DataList>
		<Data Id="0" Context="gogogogo"/>
	</DataList>
	<LevelDatasInfo>
		<LevelDataInfo Id="1" Level="1" Name="No.1" MemberCount="1">
			<SceneDatasInfo>
				<Rectangles>
					<XmlRectangle Id="2" name="123" EntityType="3" Min_x="-1" Min_y="-1" Max_x="-2" Max_y="-2" Forward_x="0" Forward_y="1" Label="1"/>
					


				</Rectangles>

				<Circles>
					<XmlCircle Id="8" name="22" EntityType="1" position_x="5" position_y="5" Radius="1" Forward_x="0" Forward_y="1" Label="8"/>
				</Circles>
			</SceneDatasInfo>
		</LevelDataInfo>
	</LevelDatasInfo>

</GameDatasConfig>