<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Global>
    <Network InputBufferLen="2048" OutputBufferLen="8192" SocketInputBufferLen="8192" SocketOutputBufferLen="8192" />
    <Servers>
      <Server Id="1" Name="GameServer" IP="127.0.0.1" Port="22001" maxPlayerCtx="1000" />
    </Servers>
  </Global>
  
  <!--以下为GameServer的服务器配置-->
  <ServerContext AsyncActionQueueCount ="100" HeartBeatTimerPeriod="5000"/>
  <DBConfig>
    <Database ConnectHost="114.115.146.185" Port="27017" DataBase="SpaceShooter" UserName="CrazyMan" Password="123456" />
  </DBConfig>
  <BarrierConfig>
    <Barrier Id="1" Level="1"  Name="第一关卡单人模式" MemberCount="1"/>
    <Barrier Id="2" Level="1"  Name="第一关卡双人模式" MemberCount="2"/>
    <Barrier Id="3" Level="1"  Name="第一关卡小队模式" MemberCount="4"/>
    <Barrier Id="4" Level="2"  Name="第二关卡单人模式" MemberCount="1"/>
    <Barrier Id="5" Level="2"  Name="第二关卡双人模式" MemberCount="2"/>
    <Barrier Id="6" Level="2"  Name="第二关卡小队模式" MemberCount="4"/>
    <Barrier Id="7" Level="3"  Name="第三关卡单人模式" MemberCount="1"/>
  </BarrierConfig>
  <GameMatchTeam TeamMaxCount="1000" TeamCapacity="4" />
  <PlayerContext  ConnectTimeOut="60000" DisconnectTimeOut="60000" SessionTokenTimeOut="60000" AuthTokenTimeOut="60000" ShutdownTimeOut="60000"  />
</Configure>