<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Global>
    <Network InputBufferLen="2048" OutputBufferLen="8192" SocketInputBufferLen="8192" SocketOutputBufferLen="8192" />
    <Servers>
      <Server Id="1" Name="GameServer" IP="0.0.0.0" Port="22001" maxPlayerCtx="1000" />
    </Servers>
  </Global>
  <!--以下为GameServer的服务器配置-->
  <ServerContext AsyncActionQueueCount ="100" HeartBeatTimerPeriod="5000"/>
  <DBConfig>
    <Database ConnectHost="114.115.146.185" Port="27017" DataBase="SpaceShooter" UserName="CrazyMan" Password="123456" />
  </DBConfig>
  <BarrierConfig>
    <Barrier Id="1" Level="1"  Name="第一关卡单人模式" MemberCount="1" Time="5">
      <TaskConfigs>
          <TaskItem Id="1" StartCondition="1002" Result ="1004" Description="" TaskAward="" >
            <TaskConditionItemConfig>
                <Condition ConditionType="" ConditionTarget="0" Description="" ConditionValue="5"/>
            </TaskConditionItemConfig>
          </TaskItem>
          <TaskItem Id="2" StartCondition="1003" Result ="1002" Description="" TaskAward="" >
            <TaskConditionItemConfig>
                <Condition ConditionType="" ConditionTarget="0" Description="" ConditionValue="10"/>
            </TaskConditionItemConfig>
          </TaskItem>
        </TaskConfigs>
    </Barrier>
    <Barrier Id="2" Level="1"  Name="第一关卡双人模式" MemberCount="2" Time="5">
    </Barrier>
    <Barrier Id="3" Level="1"  Name="第一关卡小队模式" MemberCount="4" Time="5"></Barrier>
    <Barrier Id="4" Level="2"  Name="第二关卡单人模式" MemberCount="1" Time="5"></Barrier>
    <Barrier Id="5" Level="2"  Name="第二关卡双人模式" MemberCount="2" Time="5"></Barrier>
    <Barrier Id="6" Level="2"  Name="第二关卡小队模式" MemberCount="4" Time="5"></Barrier>
    <Barrier Id="7" Level="3"  Name="第三关卡单人模式" MemberCount="1" Time="5"></Barrier>
  </BarrierConfig>
  <GameMatchTeam TeamMaxCount="1000" TeamCapacity="4" />
  <GameServerPlayerContext  ConnectTimeOut="600000" DisconnectTimeOut="6000" SessionTokenTimeOut="6000" AuthTokenTimeOut="6000" ShutdownTimeOut="6000"  />
  <ShipConfig>
    <Ship ShipType="1004" ShipName="黄蜂飞船" Mass="10" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1005" ShipName="战斗机A" Mass="10" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1006" ShipName="战斗机B" Mass="10" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1007" ShipName="无人机" Mass="1" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1008" ShipName="歼灭船" Mass="10" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1009" ShipName="精英船A" Mass="20" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1010" ShipName="精英船B" Mass="20" MaxHp="100" MaxShield="100" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>

  </ShipConfig>
  <GameSkillConfig>
    <DamageSkillConfig>
      <Damage SkillType="1012" SkillName="机关枪" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1013" SkillName="高射炮" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1014" SkillName="鱼雷" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1015" SkillName="跟踪导弹" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1016" SkillName="持续激光" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1017" SkillName="蓄力激光" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1018" SkillName="定时炸弹" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1019" SkillName="触发炸弹" CD="5" MaxCount="1000" MaxDamageValue="10" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
    </DamageSkillConfig>
    <SummonSkillConfig>
      <Summon SkillType="1022" SkillName="召唤道具" CD="0" MaxSummonCount="1000" SummonShipType="1" SummonSurvivalTime="1"/>
    </SummonSkillConfig>
    <RecoverySkillConfig>
      <Recovery SkillType="1023" SkillName="恢复道具" CD="1" RecoveryType="1" RecoveryValue="100"/>
    </RecoverySkillConfig>
    <GainSkillConfig>
      <Gain SkillType="1024" SkillName="增益道具" CD="1" GainType="1" GainValue="100"/>
    </GainSkillConfig>
  </GameSkillConfig>
</Configure>